* {
  margin: 0;
  padding: 0;
}
#attendance-record {
  background-color: #F9F9F9;
  padding-bottom: 20px;
}
#attendance-record .business-card {
  background-image: url("../img/bg_signhistory.png");
  background-repeat: no-repeat;
  padding: 8px 16px 16px 16px;
  -webkit-background-size: cover;
  background-size: cover;
}
#attendance-record .business-card .business-card-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#attendance-record .business-card .business-card-top h5 {
  margin: 0;
  font-size: 20px;
  font-family: PingFangSC-Regular;
  font-weight: 400;
  color: #ffffff;
}
#attendance-record .business-card .business-card-top img {
  vertical-align: top;
}
#attendance-record .business-card .business-card-title {
  margin-top: 12px;
  color: #ffffff;
  font-size: 20px;
  white-space: nowrap;
}
#attendance-record .business-card .business-card-info {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#attendance-record .business-card .business-card-info .business-card-info-l {
  display: flex;
  align-items: center;
}
#attendance-record .business-card .business-card-info .business-card-info-l img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 4.8%;
}
#attendance-record .business-card .business-card-info .business-card-info-l span {
  font-size: 16px;
  color: #ffffff;
  white-space: nowrap;
}
#attendance-record .business-card .business-card-info .business-card-info-r {
  display: flex;
  align-items: center;
}
#attendance-record .business-card .business-card-info .business-card-info-r a {
  border-radius: 50%;
  background-color: #85D7C5;
}
#attendance-record .business-card .business-card-info .business-card-info-r a img {
  border-radius: 50%;
  width: 30px;
  vertical-align: middle;
}
#attendance-record .attendance-details {
  margin-top: 20px;
}
#attendance-record .attendance-details .attendance-date {
  padding-left: 4px;
  display: flex;
  align-items: center;
  margin-bottom: 3px;
}
#attendance-record .attendance-details .attendance-date i {
  display: inline-block;
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  font-style: normal;
  font-weight: normal;
  border-radius: 50%;
  background-color: #2CA9E0;
  font-size: 14px;
  color: #fff;
}
#attendance-record .attendance-details .attendance-date span {
  margin-left: 8px;
  font-size: 14px;
}
#attendance-record .attendance-details .attendance-time {
  padding-top: 10px;
  padding-left: 11px;
  margin-left: 20px;
  border-left: 2px solid #CCCCCC;
  position: relative;
}
#attendance-record .attendance-details .attendance-time i {
  width: 10px;
  height: 10px;
  border: 2px solid #F9F9F9;
  font-style: normal;
  border-radius: 50%;
  background-color: #CCCCCC;
  position: absolute;
  left: -6px;
  top: 16px;
  box-sizing: border-box;
}
#attendance-record .attendance-details .attendance-time p {
  display: inline-block;
  color: #999999;
  font-size: 16px;
}
#attendance-record .attendance-details .attendance-time span {
  font-size: 16px;
}
/*# sourceMappingURL=attendance-record.css.map */